body{
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    color: #666;
    margin:50px 0px; 
    padding:0px;
    text-align:center;
}

a {
    color: #69b4a7;
}


button {
    background: #444;
    margin: 45px 0 0 0;
    padding: 10px 10px 10px;
    color: #fff;
    font-family: Georgia, serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing:1px;
    line-height: 1;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px #ccc;
    -webkit-box-shadow: 0 1px 3px #ccc;
    position: relative;
    cursor: pointer; 
}	
	
.intro{
    color: #11b4c3;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

#instruction {
    margin: 0 auto;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    color: #5e5e5e;
}

#genres {
    visibility: hidden;
    position: absolute;
    top: 650px;
    left:50px;
}

#genres p {
    display: inline;
}

/* Front-page genre IDs */

#comics {
    margin: 0 0 0 156px;
}

#pictureBooks {
    margin: 0 0 0 27px;
}

#design {
    margin: 0 0 0 25px;
}

#fiction {
    margin: 0 0 0 97px;
}

#mystery {
    margin: 0 0 0 107px;
}

#nonfiction {
    margin: 0 0 0 97px;
}

#literaryTheory {
    margin: 0 0 0 75px;
}

#booksAboutBooks {
    margin: 0 0 0 27px;
}

#sports {
    margin: 0 0 0 47px;
}

#misc {
    margin: 0 0 0 67px;
}



/* Color classes */

.lightBlue {
    color: #11b4c3;
}

.darkOrange {
    color: #fa660f;
}

.darkGreen{
    color: #0b7e2d;
}

.pink {
    color: #f86984;
}

.lightGreen {
    color: #1ee638;
}

.red {
    color: #d00;
}

.purple {
    color: #8c23d5;
}

.lavGray {
    color: #7a7594;
}

.darkBlue {
    color: #261bd8;
}

.lightOrange {
    color: #fbac1c;
}