body{
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    color: #666;
    padding:0px;
    text-align:center;
}
	

.title {
    margin:50px 0 0 0; 
}

.intro{
    color: #11b4c3;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.labelStyle {
    stroke: black;
    stroke-width: 1;
    fill: #edeef2;
}

#instruction {
    margin: 0 auto;
}

#instruction button {
    background: #eee;
    margin: 25px 0 0 0;
    padding: 10px 10px 10px;
    color: #444;
    opacity: .75;
    font-family: Georgia, serif;
    font-size: 16px;
    letter-spacing:.5px;
    line-height: 1;
    text-decoration: none;
    -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: relative;
    cursor: pointer; 
}   

#genres {
    visibility: hidden;
    position: absolute;
    top: 650px;
    left: 50px;
}

#genres {
    display: inline;
}

/* Front-page genre IDs */

#comics {
    margin: 0 0 0 140px;
}

#pictureBooks {
    margin: 0 0 0 10px;
}

#design {
    margin: 0 0 0 1px;
}

#fiction {
    margin: 0 0 0 37px;
}

#mystery {
    margin: 0 0 0 64px;
}

#nonfiction {
    margin: 0 0 0 56px;
}

#literaryTheory {
    margin: 0 0 0 33px;
}

#booksAboutBooks {
    margin: 0 0 0 4px;
}

#sports {
    margin: 0 0 0 0px;
}

#misc {
    margin: 0 0 0 7px;
}



/* Color classes */

.lightBlue {
    color: #11b4c3;
}

.darkOrange {
    color: #fa660f;
}

.darkGreen{
    color: #0b7e2d;
}

.pink {
    color: #f86984;
}

.lightGreen {
    color: #1ee638;
}

.red {
    color: #d00;
}

.purple {
    color: #8c23d5;
}

.lavGray {
    color: #7a7594;
}

.darkBlue {
    color: #261bd8;
}

.lightOrange {
    color: #fbac1c;
}

/* Column chart styling */

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}